.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 30px;
}

.container :nth-child(1) {
  animation-delay: 0.1s;
}

.container :nth-child(2) {
  animation-delay: 0.3s;
}

.container :nth-child(3) {
  animation-delay: 0.4s;
}

.container :nth-child(4) {
  animation-delay: 0.5s;
}

.cards {
  flex: 1;
  max-width: 305px;
  padding: 0.9375rem;
  height: 500px;
  border-radius: 0.625rem;
  border: 2px solid #212d3b;
  animation: animeCard 0.6s ease-in-out;
}

.cards h1 {
  font-size: 1.25rem;
}

.cards p {
  font-size: 0.875rem;
  color: #9eb0c7;
}

.cards:nth-child(2) {
  border: 2px solid #80e038;
  position: relative;
}

.cards:nth-child(2) button {
  background-color: #80e038;
  color: #0b6112;
  border: 2px solid #80e038;
  border-bottom: 4px solid #35af00;
}

.cards:nth-child(2)::after {
  font-size: 0.875rem;
  text-align: center;
  content: "Recomendado";
  position: absolute;
  top: -3%;
  right: 31%;
  display: block;
  width: 120px;
  padding: 0.25rem 0rem;
  border-radius: 0.5rem;
  color: #0b6112;
  background-color: #80e038;
  z-index: 200;
}

.price {
  font-size: 2.25rem !important;
  font-weight: 700;
  color: #dfe5ec !important;
  margin: 0;
}

.cards ul {
  padding: 0;
  text-align: left;
}

.cards ul > li {
  font-size: 0.875rem;
  color: #9eb0c7;
  margin-bottom: 10px;
}

@keyframes animeCard {
  from {
    transform: translateY(60%);
  }
  to {
    transform: initial;
  }
}
