.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 0.625rem;
  max-width: 100%;
}

.logo {
  margin-right: 10px;
  max-width: 3.125rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nav a:global(.active) {
  color: #0b6112;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.nav :first-child {
  gap: 1.75rem;
}

.escrevase {
  font-size: clamp(0.875rem, 4vw, 1rem);
  background-color: #80e038;
  color: #0b6112;
  border-radius: 0.5rem;
  padding: 0.1875rem 0.625rem;
  border-bottom: 4px solid #35af00;
}

.escrevase:active {
  transform: translateY(0.7em);
}

.escrevase:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.mobileButton {
  background-color: #80e038;
  border-radius: 5px;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}

.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background-color: #0b6112;
  box-shadow: 0 6px #0b6112, 0 -6px #0b6112;
  transition: 0.3s;
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px #0b6112, 0 -8px #0b6112;
}

.navMobile {
  display: block;
  position: absolute;
  top: 90px;
  right: 1px;
  padding: 0.9375rem;
  background-color: #0d1217;
  border-radius: 5px;
  border: 2px solid #4a6382;
  animation: formFade 1s ease-in-out;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}

.navMobile a:not(.escrevase) {
  margin-bottom: 10px;
}

.navMobileActive {
  transition: 0.3s ease-in-out;
  transform: initial;
  opacity: 1;
  pointer-events: initial;
  z-index: 100;
}
