.button {
  font-size: 14px;
  font-weight: 600;
  display: block;
  background-color: #1B232D;
  color: #DFE5EC;
  margin: 0 auto;
  padding: 14px 24px;
  border-radius: 8px;
  border: 2px solid #4A6382;
  border-bottom: 4px solid #4A6382;
  width: 100%;
  cursor: pointer;
  transition: .3s;
}

.button:hover {
    background-color: #212D3B;
}

.button:active {
  transform: translateY(0.7em);
}